*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rebeccapurple;
}


.box{
        
    background-color: black;
    height: 586px;
    width: 1445px;
    position: relative;
    margin-top: 30px;
    right: -42px;
    overflow: hidden;
    border-radius: 2px;
}
 
.avanger{
    
    
    height: 216px;
    width: 1300px;
    position: relative;
    margin-top:76px ;
    right: -100px;
    overflow: hidden;

}

.character1{
    height: 200px;
    position: relative;
    padding: 168px;
    margin-top: -208px;
    width: 150px;
    
}

.character2{
     height: 224px;
  position: relative;
  width: 31%;
  padding: 135px;
  margin-top: -462px;
  right: -121px;
}
    

.character3{
    height: 167px;
position: relative;
width: 11%;
padding: 137px;
margin-top: -474px;
right: -508px;
    
}

.btlinks{
    margin: auto;
     }
.button{
    
    padding: 10px 16px;
    margin: 20px;
    font-size:1em ;
    font-family:sans-serif ;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: .4s ease-in;
}
.button1{
    height: 50px;
    width: 119px;
    margin-top: -172px;
    position: absolute;
    left: 181px;
  }

.button1:hover{
    background-color:goldenrod;
}

.button2{
    height: 50px;
    width: 119px;
    margin-top: -205px;
    position: sticky;
    left: 420px;
  }
   
.button2:hover{
    background-color: #245EB3;
}

.button3{
    height: 50px;
    width: 119px;
    margin-top: -205px;
    position: sticky;
    left: 665px;
  }
.button3:hover{
    background-color: darkgreen;
    
}
