*{
    margin: 0;
    padding: 0;
}
body{
    animation: change 4s infinite;
   
}
@keyframes change {

    0%{background-color: black;}
    10%{background-color: red;}
    15%{background-color:goldenrod;}
    25%{background-color: black;}
    35%{background-color:goldenrod;}
    50%{background-color: red;}
    100%{background-color: black;}
} 

 
.box{
    
    background-color: black;
    height: 600px;
    width: 1300px;
    position: relative;
    margin-top:68px ;
    right: -100px;
    overflow: hidden;
    border-radius: 8px;
}
 
.mq{
    overflow: hidden;
    height: 20px;
    width: 1223px;
    padding: 27px;
   
}

.ironman{
    position: relative;
    width:50%; 
    margin-top: 110px;
    animation:fly 17s infinite ;
 }


 @keyframes fly
 {
    10%
    {
        top:-446%;
        bottom:64px;
    }
    
    
    25%
    {
        bottom:   25px;
    }
    50%
    {
        top:-58px;
        bottom:105px;
    }
    

}

