*{
    margin: 0;
    padding: 0;
}
.box{
    width: 205px;
    padding: 63px;
    position: absolute;
    top: 340px;
    left: 771px;
    transform: translate(-50%,-50%);
    background: rgb(0,0,0,0.4);
    text-align: center;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 1000;
}
.box input[type="text"],.box input[type="password"] 
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid rgba(253, 48, 16, 0.959);
    padding: 24px 10px;
    width: 220px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: 0.25px;
}




.flybird{
    position: relative;
    width:56%;
    
    margin-top: 170px;
    animation:fly 17s infinite ;
 }


 @keyframes fly
 {
    10%
    {
        top:-446%;
        bottom:64px;
    }
    15%
    {
    bottom:  105px;
    }
    
    25%
    {
        bottom:   25px;
    }
    50%
    {
        top:-58px;
        bottom:105px;
    }
    

}


@media screen and (max-width: 600px)
{


    
.box{
    width: 191px;
    padding: 13px;
    position: absolute;
    top: 522px;
    left: 265px;
    transform: translate(-50%,-50%);
    background: rgb(0,0,0,0,4);
    text-align: center;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
.box input[type="text"],.box input[type="password"] 
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid purple;
    padding: 24px 10px;
    width: 220px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: 0.25px;
}
.box input[type="text"]:focus
{
    width: 270px;
    border-color: blue;
}
.box input[type="password"]:focus
{
    width: 270px;
    border-color: blue;
}
.box input[type="submit"] 
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid blue ;
    padding: 14px 73px;
    
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}
.box input[type="submit"] :hover{
    background: blue;
}
    

    .flybird{
        position: relative;
        width:140%;
        right: 177px;
        margin-top: 326px;
        animation:fly 17s infinite ;
     }
    
    
     @keyframes fly
     {
        10%
        {
            top:-416%;
            bottom:64px;
        }
        15%
        {
        bottom:  105px;
        }
        
        25%
        {
            bottom:   25px;
        }
        50%
        {
            top:-58px;
            bottom:105px;
        }
        
    
    }

}
